In [1]:
import pandas as pd
yellow_2015 = pd.read_csv("./data_for_graph/yellow_sample_2015.csv")
green_2015 = pd.read_csv("./data_for_graph/green_sample_2015.csv")

In [2]:
trips_2015 = pd.concat([yellow_2015, green_2015])

trips_2015 = trips_2015[trips_2015['trip_distance'] <= 50]
trips_2015['dropoff_datetime'] = pd.to_datetime(trips_2015['dropoff_datetime'])
trips_2015['pickup_datetime'] = pd.to_datetime(trips_2015['pickup_datetime'])
trips_2015['trip_length_seconds'] = [i.seconds for i in (trips_2015['dropoff_datetime'] - trips_2015['pickup_datetime'])]
trips_2015['trip_length_minutes'] = trips_2015['trip_length_seconds']/60.0
trips_2015 = trips_2015[(trips_2015['trip_length_seconds'] <= 10800) & (trips_2015['trip_length_seconds'] >= 60)]
trips_2015['mph'] = trips_2015['trip_distance'] / trips_2015['trip_length_seconds'] * 60 * 60
trips_2015 = trips_2015[(trips_2015['mph'] <= 100) & (trips_2015['mph'] > 0)]

trips_2015 = trips_2015[trips_2015['total_amount'] <= 400]
trips_2015 = trips_2015[trips_2015['fare_amount'] > 0].reset_index()

trips_2015['yellow_cab'] = [1 if x == "Yellow_Cab" else 0 for x in trips_2015['cab_types']]
trips_2015['rush_hour'] = [1 if x == 1.0 else 0 for x in trips_2015['extra']]
trips_2015['over_night'] = [1 if x == 0.5 else 0 for x in trips_2015['extra']]
trips_2015['JFK'] = [1 if x == 2 else 0 for x in trips_2015['rate_code_id']]
trips_2015['JFK_trip_distance'] = trips_2015['JFK'] * trips_2015['trip_distance']
trips_2015['Newark'] = [1 if x == 3 else 0 for x in trips_2015['rate_code_id']]
trips_2015['Nassau_Westchester'] = [1 if x == 4 else 0 for x in trips_2015['rate_code_id']]
trips_2015['Negotiated'] = [1 if x == 5 else 0 for x in trips_2015['rate_code_id']]

trips_2015['weekday'] = [x.weekday() for x in trips_2015['pickup_datetime']]
trips_2015['monday'] = [1 if x == 0 else 0 for x in trips_2015['weekday']]
trips_2015['tuesday'] = [1 if x == 1 else 0 for x in trips_2015['weekday']]
trips_2015['wednesday'] = [1 if x == 2 else 0 for x in trips_2015['weekday']]
trips_2015['thursday'] = [1 if x == 3 else 0 for x in trips_2015['weekday']]
trips_2015['friday'] = [1 if x == 4 else 0 for x in trips_2015['weekday']]
trips_2015['saturday'] = [1 if x == 5 else 0 for x in trips_2015['weekday']]
trips_2015['sunday'] = [1 if x == 6 else 0 for x in trips_2015['weekday']]
trips_2015.head()

,index,cab_types,dropoff_datetime,dropoff_latitude,dropoff_longitude,ehail_fee,extra,fare_amount,id,improvement_surcharge,...,Nassau_Westchester,Negotiated,weekday,monday,tuesday,wednesday,thursday,friday,saturday,sunday
0,0,Yellow_Cab,2015-01-03 18:39:36,40.751133,-73.991531,NaN,0.0,6.5,167370089,0.3,...,0,0,5,0,0,0,0,0,1,0
1,1,Yellow_Cab,2015-01-15 13:52:09,40.785961,-73.952858,NaN,0.0,10.0,176393848,0.3,...,0,0,3,0,0,0,1,0,0,0
2,2,Yellow_Cab,2015-01-14 10:31:33,40.703896,-74.011360,NaN,0.0,8.0,166696976,0.3,...,0,0,2,0,0,1,0,0,0,0
3,3,Yellow_Cab,2015-01-22 23:19:08,40.729179,-73.989212,NaN,0.5,7.5,174908353,0.3,...,0,0,3,0,0,0,1,0,0,0
4,4,Yellow_Cab,2015-01-05 03:54:23,40.723751,-74.005173,NaN,0.5,6.5,171388604,0.3,...,0,0,0,1,0,0,0,0,0,0

In [3]:
trips_2015['hour'] = [x.hour for x in trips_2015['pickup_datetime']]
trips_2015 = pd.concat([trips_2015, pd.get_dummies(trips_2015['hour']).rename(columns=lambda y: 'hour_' + str(y))], axis=1)
trips_2015.head()

,index,cab_types,dropoff_datetime,dropoff_latitude,dropoff_longitude,ehail_fee,extra,fare_amount,id,improvement_surcharge,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,Yellow_Cab,2015-01-03 18:39:36,40.751133,-73.991531,NaN,0.0,6.5,167370089,0.3,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1,Yellow_Cab,2015-01-15 13:52:09,40.785961,-73.952858,NaN,0.0,10.0,176393848,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Yellow_Cab,2015-01-14 10:31:33,40.703896,-74.011360,NaN,0.0,8.0,166696976,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Yellow_Cab,2015-01-22 23:19:08,40.729179,-73.989212,NaN,0.5,7.5,174908353,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,4,Yellow_Cab,2015-01-05 03:54:23,40.723751,-74.005173,NaN,0.5,6.5,171388604,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
trips_2015.dtypes

index                             int64
cab_types                        object
dropoff_datetime         datetime64[ns]
dropoff_latitude                float64
dropoff_longitude               float64
ehail_fee                       float64
extra                           float64
fare_amount                     float64
id                                int64
improvement_surcharge           float64
junk1                           float64
junk2                           float64
mta_tax                         float64
passenger_count                   int64
payment_type                      int64
pickup_datetime          datetime64[ns]
pickup_latitude                 float64
pickup_longitude                float64
rate_code_id                      int64
store_and_fwd_flag               object
tip_amount                      float64
tolls_amount                    float64
total_amount                    float64
trip_distance                   float64
trip_type                       float64
vendor_id                         int64
trip_length_seconds               int64
trip_length_minutes             float64
mph                             float64
yellow_cab                        int64
                              ...
wednesday                         int64
thursday                          int64
friday                            int64
saturday                          int64
sunday                            int64
hour                              int64
hour_0                          float64
hour_1                          float64
hour_2                          float64
hour_3                          float64
hour_4                          float64
hour_5                          float64
hour_6                          float64
hour_7                          float64
hour_8                          float64
hour_9                          float64
hour_10                         float64
hour_11                         float64
hour_12                         float64
hour_13                         float64
hour_14                         float64
hour_15                         float64
hour_16                         float64
hour_17                         float64
hour_18                         float64
hour_19                         float64
hour_20                         float64
hour_21                         float64
hour_22                         float64
hour_23                         float64
dtype: object

In [174]:
trips_2015_sample = trips_2015.sample(n=60000, random_state=69)

In [176]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import train_test_split

X = trips_2015_sample[['pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude',
                'monday','tuesday','wednesday','thursday','friday','saturday',
                'hour_0','hour_1','hour_2','hour_3','hour_4','hour_5','hour_6','hour_7',
                'hour_8','hour_9','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15',
                'hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23']]
Y = trips_2015_sample['trip_length_minutes']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

clf_length = RandomForestRegressor(n_estimators=25)
clf_length.fit (X_train, Y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=25, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [177]:
clf_length.score(X_test, Y_test)

0.63059520623252485

In [178]:
X = trips_2015_sample[['pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude',
                'monday','tuesday','wednesday','thursday','friday','saturday',
                'hour_0','hour_1','hour_2','hour_3','hour_4','hour_5','hour_6','hour_7',
                'hour_8','hour_9','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15',
                'hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23']]
Y = trips_2015_sample['total_amount'] -  trips_2015_sample['tip_amount'] 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

clf_fare = RandomForestRegressor(n_estimators=25)
clf_fare.fit (X_train, Y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=20, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [179]:
clf_fare.score(X_test, Y_test)

0.83902701155034387

In [ ]:
X = trips_2015_sample[['pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude',
                'monday','tuesday','wednesday','thursday','friday','saturday',
                'hour_0','hour_1','hour_2','hour_3','hour_4','hour_5','hour_6','hour_7',
                'hour_8','hour_9','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15',
                'hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23']]
Y = trips_2015_sample['trip_length_minutes']
clf = RandomForestRegressor(n_estimators=25)
clf_length.fit (X, Y)

In [157]:
X = trips_2015_sample[['pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude',
                'monday','tuesday','wednesday','thursday','friday','saturday',
                'hour_0','hour_1','hour_2','hour_3','hour_4','hour_5','hour_6','hour_7',
                'hour_8','hour_9','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15',
                'hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23']]
Y = trips_2015_sample['total_amount'] -  trips_2015_sample['tip_amount'] 
clf_fare = RandomForestRegressor(n_estimators=25)
clf_fare.fit (X, Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=20, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [158]:
pickup_lat = 40.80814846281458
pickup_long = -73.95975591614842
dropoff_lat = 40.73404654960721
dropoff_long = -74.00164129212499
JFK = 0
Newark = 0
Nassau_Westchester = 0
Negotiated = 0
print clf_length.predict([[pickup_lat,pickup_long,dropoff_lat,dropoff_long,
              0,1,0,0,0,0,
              0,0,0,0,0,0,0,0,
              0,0,0,1,0,0,0,0,
              0,0,0,0,0,0,0,0]])
clf_fare.predict([[pickup_lat,pickup_long,dropoff_lat,dropoff_long,
              0,1,0,0,0,0,
              0,0,0,0,0,0,0,0,
              0,0,0,1,0,0,0,0,
              0,0,0,0,0,0,0,0]])

[ 31.33466667]

array([ 28.4])

In [161]:
import dill
with open("length_pred", 'wb') as out_strm: 
    dill.dump(clf_length, out_strm)
with open("fare_pred", 'wb') as out_strm: 
    dill.dump(clf_fare, out_strm)

In [50]:
def predict_length(pickup_lat,pickup_long,dropoff_lat,dropoff_long,hour,JFK,Newark,Nassau_Westchester):
    with open("length_pred", 'rb') as in_strm:
        length_pred = dill.load(in_strm)
    predicted_length = length_pred.predict([[pickup_lat,pickup_long,dropoff_lat,dropoff_long,
                  0,1,0,0,0,0,
                  0,0,0,0,0,0,0,0,
                  0,0,0,1,0,0,0,0,
                  0,0,0,0,0,0,0,0,
                  JFK,Newark,Nassau_Westchester,0]])
    return predicted_length

def predict_fare(pickup_lat,pickup_long,dropoff_lat,dropoff_long,hour,JFK,Newark,Nassau_Westchester):
    with open("fare_pred", 'rb') as in_strm:
        fare_pred = dill.load(in_strm)
    predicted_fare = fare_pred.predict([[pickup_lat,pickup_long,dropoff_lat,dropoff_long,
                  0,1,0,0,0,0,
                  0,0,0,0,0,0,0,0,
                  0,0,0,1,0,0,0,0,
                  0,0,0,0,0,0,0,0,
                  JFK,Newark,Nassau_Westchester,0]])
    return predicted_fare

In [53]:
length = predict_length(40.80814846281458,-73.95975591614842,40.73404654960721,-74.00164129212499,10,0,0,0)
length[0]

30.855

In [52]:
fare = predict_fare(40.80814846281458,-73.95975591614842,40.73404654960721,-74.00164129212499,10,0,0,0)
fare

array([ 27.575])

In [72]:
from datetime import datetime, date
test = "2016-07-05"
test = datetime.strptime(test, '%Y-%m-%d')
print test, type(test)

2016-07-05 00:00:00 <type 'datetime.datetime'>

In [74]:
test.date()

datetime.date(2016, 7, 5)

In [73]:
str(date.today())

'2016-07-05'

In [65]:
datetime.strptime(str(date.today()), '%Y-%m-%d')

datetime.datetime(2016, 7, 5, 0, 0)

In [95]:
datetime.now().hour
'%02d' % datetime.now().hour

'00'

In [77]:
special = 1
JFK = 1 if special == 1 else 0
JFK

1

In [91]:
X_pred = [pickup_lat,pickup_long,dropoff_lat,dropoff_long,
                  0,1,0,0,0,0,
                  0,0,0,0,0,0,0,0,
                  0,0,0,0,0,0,0,0,
                  0,0,0,0,0,0,0,0]
hour = 0
X_pred[hour+10] = 1
X_pred

[40.80814846281458,
 -73.95975591614842,
 40.73404654960721,
 -74.00164129212499,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]